{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1 class="color-secondary title-size text-center font-light mb-9">Vous trouverez ici tous les types de vos Pokemon
    préférés !</h1>

<div class="columns-2 ml-28 gap-32">
    {% set lettre = "" %}   
    {% for key, category in categorie['cat'] %} 
        {% if category.name|slice(0,1) != lettre %}
            {% set lettre = category.name|slice(0,1) %}
            <p class="font-bold mb-4"> {{ lettre }}</p>
            {% endif %}
        <div class="flex liste_categorie items-center ml-8">
           <a href="{{ path('pokemon_category', { category: category.name }) }}" class="flex items-center"> <img src="{{ asset('static/categories/' ~category.getLogoUrl()) }}" style="height: 35px; width:35px;"
                class="mr-4" />
            <p> Type {{ category.name }} </p></a>
        </div>
    {% endfor %}
</div>
{% endblock %}