{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


 <h1 class="color-secondary title-size text-center font-light mb-9">Vous trouverez ici tous les pokemons de types {{ categories[0].name }} !</h1>

<div class="flex items-center mt-14 mb-5 color-secondary text-3xl">
			<span>Type {{ categories[0].name }}</span>
            <img src="{{ asset('/static/categories/'~categories[0].logoUrl) }}" alt="" class="ml-3" width="45" height="45">

		</div>

{% endblock %}
