<footer class=" bg-yellow text-center flex flex-col">
    <img src="{{ asset('static/pokewiki.png') }}" alt="">
    <p>Site développé par Loïc Colin Nicolas TUAL - Vincent Talgorn - Tous droits réservés 2022 -
        Mentions légales</p>
</footer>