<header role="banner">
	<nav>
		<img src="{{ asset('static/pokewiki.png') }}" width="123" height="36"/>
		<ul>
			<li><a href="#">Non Connecté(e)</a></li>
			<li><a href="{{ path('auth_signup') }}">Créer un compte </a></li>
			<li><a href="{{ path('auth_login') }}">Connexion</a></li>
		</ul>
	</nav>
</header>